footer {
  background-color: $main;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;

  div.image-wrapper {
    margin-right: 20px;

    display: flex;
    width: 200px;
    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }

  span {
    margin: 10px;
    p {
      padding: 0;
      text-align: left;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  @media (min-width: $tablet) {
    footer div.image-wrapper {
      margin-right: 20px;
    }
  }
}
